[run]
omit =
    utils/connectors/*
    agents/llm_diagnoser.py
    agents/feedback_engine.py
    utils/backend_sync.py
    agents/baseline_agent.py
    utils/weather_connector.py
    utils/macro_connector.py
    utils/feature_store.py
    agents/iot_agent.py
    agents/action_agent.py
    utils/parsers/*
    utils/trackers/*

[report]
exclude_also =
    if __name__ == .__main__.:
    pragma: no cover

